@import '../../sharedStyles/variables.css';

.pageWrapper {
  @apply --vertical-spacing;

  @media (--viewport-medium) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.text {
  @apply --vertical-spacing;
  padding-bottom: 0;

  @media (--viewport-medium) {
    padding-top: 10vw;
  }

  @media (--viewport-xlarge) {
    padding-top: 200px;
  }
}

.body {
   @media (--viewport-large) {
    width: 35vw;
    max-width: 755px;
  }
}

.aboutHeader {
  margin-top: 40px;
}

.portrait {

  @media (--viewport-medium) {
    padding: 0 50px 0 0;
  }

  @media (--viewport-xlarge) {
    padding: 0 100px 0;
  }
}

/* Keyframes
––––––––––––––––––––––––––––––––––––––––––––––––*/

@keyframes fadeInUp {
  0% {
    transform: translate3d(0, 5vh, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}