@import '../../sharedStyles/variables.css';



/* Header
––––––––––––––––––––––––––––––––––––––––––––––––*/

.header {
  margin: 80px 0 80px;

  @media (--viewport-small) {
    display: flex;
    flex-direction: column;
  }

  @media (--viewport-medium) {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.headerImage {

  @media (--viewport-small) {
    width: 50%;
  }
}

.headerText {
  /* needed to prevent image transition overlapping text */
  z-index: 9999;

  @media (--viewport-medium) {
    width: 57%;
    margin-left: -7%;
  }

}

.headerText > p:first-child {
  @media (--viewport-medium) {
    margin-top: 0;
  }
}


/* Content
––––––––––––––––––––––––––––––––––––––––––––––––*/

.aboutSection {
  display: grid;
  grid-template-columns: 1fr;
  border-top: 1px solid var(--color-cool-gray-l2);
  padding: 20px 0 80px;

  @media (--viewport-small) {
    grid-template-columns: 1fr 1fr;
  }
}

.aboutSectionHeader {
  margin-bottom: 0;
}



/* Keyframes
––––––––––––––––––––––––––––––––––––––––––––––––*/

@keyframes fadeInUp {
  0% {
    transform: translate3d(0, 5vh, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}