@import '../../sharedStyles/variables.css';

.wrapper {
  @apply --vertical-spacing;
  padding-top: 0;
  /* grid-column: 1 / 3; */
  /* opacity: 0; */
  /* animation: fadeInUp .8s forwards .5s; */
  /* animation-timing-function: cubic-bezier(.34,.15,.31,.92); */
  /* transition-delay: 5s; */

  @media (--viewport-large) {
    /* grid-column: 1 / 11; */
    /* margin: 0; */
  }
}

/* Keyframes
––––––––––––––––––––––––––––––––––––––––––––––––*/

@keyframes fadeInUp {
  0% {
    transform: translate3d(0, 5vh, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}