@import '../../sharedStyles/variables.css';

.wrapper {
  @apply --vertical-spacing;
  padding-top: 0;
}

/* Keyframes
––––––––––––––––––––––––––––––––––––––––––––––––*/

@keyframes fadeInUp {
  0% {
    transform: translate3d(0, 5vh, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}