@import '../../sharedStyles/variables.css';
@import '../../sharedStyles/index.css';


.main {
  padding-bottom: 18px;

  @media (--viewport-medium) {
    padding-bottom: 0;
  }
}

.wrapper {
  @apply --vertical-spacing;

  @media (--viewport-medium) {
    display: grid;
    grid-template-columns: 2.3fr 1fr;
    grid-gap: 100px
  }
}

.intro {
  composes: h2;
}

.sectionHeader {
  composes: label;
  color: var(--light-text-color);
  margin-bottom: 0;
}

.ul {
  list-style: none;
  margin: 8px 0 40px;
  padding: 0;
}

.projectLink {
  margin-top: 1em;
}

