@import '../../sharedStyles/variables.css';

.card {
  text-decoration: none;
  pointer-events: none;
  cursor: pointer;
  display: block;
  margin-bottom: 60px;

  @media (--viewport-large) {
    margin-bottom: 100px;
  }
}

.imageWrapper {
  position: relative;
}
.image {
  cursor: pointer;
  pointer-events: auto;
  transition: transform 5s cubic-bezier(.2,.96,.34,1);
  background: #FAF8F8;
}

.image:after {
  position: absolute;
  top: 0;
  left: 0;
  content: ' ';
  display: inline-block;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.5);
  opacity: 0;
  transition: .2s ease opacity;
}

.image:hover:after{
  opacity: 1;
}

.info {
  padding-top: .5em;
  width: 100%;
  line-height: 1;
}

.title {
  cursor: pointer;
  pointer-events: auto;
  display: inline-block;
  font-weight: 400;
  margin: 0;
  padding: .5em 0 .1em;
}

.subTitle {
  cursor: pointer;
  pointer-events: auto;
  display: inline-block;
  color: var(--color-cool-gray-l1);
  margin: 0;
  font-size: 1.4rem;
}

/* Show hover states for touch screens */
@media (hover: none) {

  .info {
    padding-top: 1em;
    margin-top: -1em;
    position: inherit;
    width: 100%;
  }

  .title,
  .subTitle {
    transform: translateY(0);
  }
}
