@import '../../sharedStyles/variables.css';

.card {
  text-decoration: none;
  color: var(--dark-text-color);
  pointer-events: none;
  cursor: pointer;
  display: block;
  margin-bottom: 60px;

  @media (--viewport-large) {
    margin-bottom: 100px;
  }
}

.image {
  cursor: pointer;
  pointer-events: auto;
  transition: transform 5s cubic-bezier(.2,.96,.34,1);
  background: #FAF8F8;
}

.info {
  padding-top: .5em;
  width: 100%;
  line-height: 1;
}

.title {
  cursor: pointer;
  pointer-events: auto;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 400;
  margin: 0;
  padding: .5em 0 0;
}

.subTitle {
  color: var(--light-text-color);
  margin: 0;
}

/* Show hover states for touch screens */
@media (hover: none) {

  .info {
    padding-top: 1em;
    margin-top: -1em;
    position: inherit;
    width: 100%;
  }

  .title,
  .subTitle {
    transform: translateY(0);
  }
}
