@import '../../sharedStyles/variables.css';

.loaderBody.isLoading {
  overflow: hidden;
  height: 100vh;
  background-color: blue;
}

.loader .introText {
  color: #C3C3C3;
}

.loader .introLink {
  /* keep the link for alignment but hide */
  visibility: hidden;
}

.loader {
  position: absolute;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background: #131313;
  clip-path: inset(0 0 100% 0);
  transition: .8s cubic-bezier(.34,.15,.31,.92) clip-path;
}

.loader.isLoading {
  position: fixed;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background: #131313;
  clip-path: inset(0 0 0 0);
}

.intro {
  grid-column: 1 / 3;
  padding: 10vh var(--mob-edge-width) 0;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (--viewport-large) {
    padding: 10vh 0 0 0;
    grid-column: 3 / 11;
  }
}

.introText {
  max-width: 15em;
}

.introLink {
  animation: fadeIn 1s forwards;
  animation-delay: .6s;
  opacity: 0;
  will-change: opacity;
}

.loaderBody .projects {
  animation-delay: 1.6s;
}

.projects {
  grid-column: 1 / 3;
  padding: 0 var(--mob-edge-width);
  display: grid;
  grid-template-columns: repeat(1, 100%);
  grid-gap: 30px;
  opacity: 0;
  animation: projectsKeyframes .8s forwards;
  animation-delay: .3s;

  @media (--viewport-large) {
    grid-column: 1 / 11;
    /*margin: 0 30px;*/
    margin: 0;
    padding: 0;
    grid-template-columns: repeat(12, 1fr);
    /*grid-template-rows: repeat(6, 16%);*/
  }
}

.projectRow {
  grid-column: 1 / 13;
  display: flex;
}

.projectRow:nth-child(1n) > .card {
  width: 41.67%;
  margin: 0 0 0 auto;
}

.projectRow:nth-child(2n) > .card {
  width: 41.67%;
  margin: -15% 0 0 0;
}

.projectRow:nth-child(3n) > .card {
  width: 41.67%;
  margin: 0 8.33% 0 auto;
}

.projectRow:nth-child(4n) > .card {
  width: 41.67%;
  margin: 0 auto 0 25%;
}


@keyframes projectsKeyframes {
  0% {
    transform: translate3d(0, 10vh, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    /*transform: translate3d(0, 10vh, 0);*/
    opacity: 0;
  }
  100% {
    /*transform: translate3d(0, 0, 0);*/
    opacity: 1;
  }
}