@import '../../sharedStyles/variables.css';

.intro {
  position: relative;
  min-height: 80vh;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.intro::before {
  content: ' ';
  flex-grow: 1.3;
}

.introText {
  position: relative;
  /* opacity: 0; */
  text-align: center;
}

.introText > h1 {
  max-width: 19em;
  margin: .6em auto;
}

.distortedText {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  display: block;
  margin-top: -6vh;
}

.scrollIndicator {
  flex-grow: 2;
  position: relative;
}

.scrollIndicator::before {
  position: absolute;
  content: ' ';
  display: block;
  height: 100%;
  width: 1px;
  left: 50%;
  background-color: var(--color-cool-gray-l1);
}

.mouseIcon {
  position: absolute;
  content: ' ';
  display: block;
  height: 40px;
  width: 27px;
  top: calc(50% - 35px);
  left: calc(50% - 13px);
  border: 1px solid var(--color-cool-gray-l1);
  border-radius: 100px;
  background: #FFF;
}

.mouseScroll {
  position: absolute;
  content: ' ';
  display: block;
  height: 3px;
  width: 3px;
  top: 11px;
  left: 11px;
  border-radius: 2px;
  background: var(--color-cool-gray-l1);
  animation: mouseKeyframes ease-in-out 3s infinite;
}

/* remove scroll indicator on small screens  */
.scrollIndicator::before,
.mouseIcon,
.mouseScroll {
  @media (width < 375px) {
    display: none;
  }
}


.projects {
  padding: 0;
  margin: 0;
  display: grid;
  grid-gap: var(--mu);
  opacity: 0;
  animation: projectsKeyframes .8s forwards;
  animation-delay: .3s;
  align-items: start;

  @media (--viewport-small) {
    grid-template-columns: 1fr 1fr;
  }
}

.viewAll {
  text-align: center;
  padding: 50px 0 200px;
}

@keyframes projectsKeyframes {
  0% {
    transform: translate3d(0, 10vh, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes mouseKeyframes {
  0% {
      transform: translateY(0);
      opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
      transform: translateY(0);
      opacity: 1;
  }
  75% {
      opacity: 1;
  }
  100% {
      transform: translateY(10px);
      opacity: 0;
  }
}