.clipReveal {
  transition: 0.7s cubic-bezier(0.19, 1, 0.22, 1) opacity,
              1.0s cubic-bezier(0.19, 1, 0.22, 1) transform;
  transform: translate3d(0, 5vh, 0);
  opacity: 0;
}

.clipReveal.inView {
  transform: scale(1);
  opacity: 1;
}