.textRevealWrapper {
  overflow: hidden;
}

.textRevealText {
  display: block;
  transition-property: transform;
  transition-duration: 2s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transform: translateY(150%);
  will-change: transform;
}

.textRevealText.inView{
  transform: translateY(0);
}