.cluster1img1 {
    width: 50%;
    margin: 0 auto 0 0;
}

.cluster1img2 {
    width: 38%;
    margin: -48% 0 0 auto;
}

.cluster1img3 {
    width: 41%;
    margin: 8% 0 0 auto;
}


/* Cluister 2 */
.cluster2img1 {
    width: 47%;
    margin: 0 auto 0 0;
}

.cluster2img2 {
    width: 33%;
    margin: -20% 0 0 auto;
}