@import '../../sharedStyles/variables.css';

.imageWrapper {
  grid-column: 1 / span 12  ;
  padding: 25px var(--mob-edge-width);
  margin: 0;

  @media (--viewport-large) {
    grid-column: 3 / 11;
    padding: 50px 0;
  }
}

.bleedBottom {
  background: #F1ECEC;
  padding: 5vw 5vw 0 5vw;
}

.twoUpLeftBleed,
.twoUpBleedBottom {
  display: flex;
  padding: 0 5vw;
  justify-content: space-between;
  align-items: flex-end;
  background: #F1ECEC;
  overflow: hidden;
}

.twoUpBleedBottom {
  padding-top: 5vw;
}

.twoUpLeft,
.twoUpRight {
  width: 66.66%;
}

.twoUpLeft {
  margin-right: -34%;
}

.twoUpRight {
  box-shadow: -3vw 3vw 3vw -3vw rgba(0,0,0,.15);
}