@import '../../sharedStyles/variables.css';

.imageWrapper {
  grid-column: 1 / span 12  ;
  padding: 25px var(--mob-edge-width);
  margin: 0;

  @media (--viewport-large) {
    grid-column: 3 / 11;
    padding: 50px 0;
  }
}