.footer {
  grid-column: col-start / span 10;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(10, [col-start] 1fr);
  background: #FAF8F8;
  padding: 150px 0 25px;
  margin-top: 100px;
  opacity: 0;
  transition: 1s ease all .2s;
}

.footer.inView {
  opacity: 1;
}

.list {
  font-size: 1.4rem;
  list-style-type: none;
  padding: 0;
  line-height: 2;
}

.contact {
  grid-column: 3 / 6;
}

.links {
  grid-column: 6 / 9;
}

.footerLink {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  position: relative;
  transition: .3s cubic-bezier(.41,-0.07,.55,1.14);

}

.footerLink:hover {
  transition-delay: .25s;
  transform: translateX(1.2em);
}

.footerLink:before {
  display: inline-block;
  content: '—';
  position: absolute;
  left: -1.2em;
  opacity: 0;
  transition: .4s cubic-bezier(.41,-0.07,.55,1.14);
}


.footerLink:hover:before {
  opacity: 1;
}

.copyright {
  grid-column: 3 / 9;
  padding-top: 50px;
  font-size: 1.2rem;
}