@import '../../sharedStyles/variables.css';

.footer {
  @apply --vertical-margin;
  margin-bottom: 0;
  /* background: var(--bg-light-accent-color); */
  line-height: 2.4;
  transition: 1s ease opacity .2s;
  background: var(--bg-dark-accent-color);
  color: #FEFEFE;
  -webkit-font-smoothing: antialiased;
  letter-spacing: .01em;
}

.footer.inView {
  opacity: 1;
}

.footerContainer {
  @apply --vertical-spacing;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "contact contact"
                       "social  nav";

  @media (--viewport-small) {
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-areas: "contact social nav";
  }
}

.list {
  list-style-type: none;
  padding: 0;
}

.contact {
  grid-area: contact;
}

.social {
  grid-area: social;
}

.nav {
  grid-area: nav;
  text-align: right;
}

.navLink {
  text-decoration: none;
  color: inherit;
}

.navLink:hover {
  opacity: .6;
}

.navLink.isActive {
  opacity: .5;
}