@import '../../sharedStyles/variables.css';

.linkWrapper {
  text-align: center;
}

.nextLink {
  @apply --vertical-spacing;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

.label {
  composes: label from '../../sharedStyles/index.css';
}

.nextTitle {
  composes: h2 from '../../sharedStyles/index.css';
  font-weight: 400;
}