@import '../../sharedStyles/variables.css';
@import '../../sharedStyles/index.css';

.linkWrapper {
  text-align: center;
  /* padding: 200px 0; */
  /* coposes: vertical-spacing; */
}

.nextLink {
  @apply --vertical-spacing;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

.nextTitle {
  composes: h2;
  font-weight: 400;
}