@import '../../sharedStyles/variables.css';


.projectHeader {
  padding: 100px 0 150px;
}

.title {
  margin: 0 0 .2em;
  text-align: center;
}

.textRevealWrapper {
  overflow: hidden;
}

.textRevealText {
  display: block;
  transition-property: transform;
  transition-delay: .2s;
  transition-duration: 2s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transform: translateY(150%);
  will-change: transform;
}

.textRevealText.inView{
  transform: translateY(0);
}