@import './variables.css';

@font-face {
  font-family: "maison neue";
  src: url("../assets/fonts/maisonneuebook.eot");
  src: url("../assets/fonts/maisonneuebook.eot?#iefix") format("embedded-opentype"),
       url("../assets/fonts/maisonneuebook.woff2") format("woff2"),
       url("../assets/fonts/maisonneuebook.woff") format("woff"),
       url("../assets/fonts/maisonneuebook.ttf") format("truetype"),
       url("../assets/fonts/maisonneuebook.svg#maison_neuebook") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "maison neue";
  src: url("../assets/fonts/maisonneuebold.eot");
  src: url("../assets/fonts/maisonneuebold.eot?#iefix") format("embedded-opentype"),
       url("../assets/fonts/maisonneuebold.woff2") format("woff2"),
       url("../assets/fonts/maisonneuebold.woff") format("woff"),
       url("../assets/fonts/maisonneuebold.ttf") format("truetype"),
       url("../assets/fonts/maisonneuebold.svg#maison_neuebold") format("svg");
  font-weight: 600;
  font-style: normal;
}

* { box-sizing: border-box; }

img {
  display: block;
  width: 100%;
}

/*62.5% * 16px = 10px base font size*/
html { font-size: 62.5%; }

body {
  font-size: 1.6rem;
  font-family: "maison neue", sans-serif;
  font-weight: 300;
  color: var(--medium-text-color);
  line-height: 1.3;
  margin: 0;

  /*@media screen and (max-width: 480px) {
    font-size: 1.4rem;
  }*/
}

h1,
.h1 {
  font-size: 3.2rem;
  color: var(--dark-text-color);

  @media screen and (min-width: 768px) {
    font-size: 4.2rem;
  }
}

h2,
.h2 {
  font-size: 2.2rem;
  color: var(--dark-text-color);

  @media screen and (min-width: 768px) {
    font-size: 3.2rem;
  }
}

h3,
.h3 {
  font-size: 1.6rem;
  color: var(--dark-text-color);
  
  @media screen and (min-width: 768px) {
    font-size: 3.2rem;
  }
}

p,
.p {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.8;
  margin: 0 0 1em;
  color: var(--medium-text-color);
  @media screen and (min-width: 768px) {
    font-size: 1.6rem;
  }
}

p.pSmall {
  font-size: 1.4rem;
}

.label,
p.label {
  color: var(--light-text-color);
  margin-bottom: 0;
}

.inlineLink {
  text-decoration: none;
  color: inherit;
  position: relative;
}

.inlineLink:before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -.2em;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid rgba(0,0,0,.2);
}

.inlineLink:after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -.2em;
  width: 100%;
  height: 1px;
  transition: .5s ease transform;
  background: rgba(0,0,0,1);
  transform: scaleX(0);
  transform-origin: bottom left;
}

.inlineLink:hover:after {
  background: rgba(0,0,0,1);
  transform: scaleX(1);
}

.arrowLink {
  position: relative;
  display: inline-block;
  letter-spacing: 0;
  font-size: 1.4rem;
  color: var(--dark-text-color);
  text-decoration: none;
  width: fit-content;
  border: 1px solid #000;
  padding: 1em 4em .9em 1em;
  margin-right: -100px;
  transition: padding .3s cubic-bezier(.34,.15,.31,.92);
  will-change: padding;
}

.arrowLink:hover {
  padding-right: 5em;
}

.arrowLink:before,
.arrowLink:after {
  content: " ";
  width: 15px;
  height: 9px;
  position: absolute;
  right: 3em;
  opacity: 0;
  transition: .3s cubic-bezier(.34,.15,.31,.92);
  transition-delay: 0s;
  background-image: url(../assets/images/link-arrow-dark.svg);
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 15px;
  padding-left: 30px;
  top: calc(50% - 5px);
}

.arrowLink:after {
  right: 1.5em;
  opacity: 1;
}

.arrowLink:hover:before {
    transform: translate(2em, 0);
    opacity: 1;
    right: 4em
}
.arrowLink:hover:after {
    transform: translate(2em, 0);
    opacity: 0;
}