@import './variables.css';

* { box-sizing: border-box; }

img {
  display: block;
  width: 100%;
}

/*62.5% * 16px = 10px base font size*/
html { font-size: 62.5%; }

body {
  font-size: 1.6rem;
  font-family: "maison neue", sans-serif;
  font-weight: 400;
  color: var(--color-medium-text);
  line-height: 1.618;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

h1,
.h1 {
  font-family: 'gt sectra', serif;
  font-weight: 400;
  font-size: 2.6rem;
  line-height: 1.4;
  color: var(--color-dark-text);

  @media (--viewport-small)  {
    font-size: 3.2rem;
  }

   @media (--viewport-medium)  {
    font-size: 3.8rem;
  }

  @media (--viewport-large) {
    font-size: 4.4rem;
  }

  @media (--viewport-xlarge) {
    font-size: 4.8rem;
  }

}

h2,
.h2 {
  font-family: 'gt sectra', serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.618;
  color: var(--color-dark-text);

  @media (--viewport-small)  {
    font-size: 2.4rem;
  }

   @media (--viewport-medium)  {
    font-size: 2.6rem;
  }

  @media (--viewport-large) {
    font-size: 2.8rem;
  }
}

h3,
.h3 {
  font-family: 'gt sectra', serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.618;
  color: var(--color-dark-text);

  @media (--viewport-small)  {
    font-size: 2rem;
  }

   @media (--viewport-medium)  {
    font-size: 2.2rem;
  }

  @media (--viewport-large) {
    font-size: 2.4rem;
  }
}

h4,
.h4 {
  font-family: 'gt sectra', serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.618;
  color: var(--color-dark-text);

  @media (--viewport-medium)  {
    font-size: 1.8rem;
  }

  @media (--viewport-large)  {
    font-size: 2rem;
  }
}


p,
.p {
  font-family: "maison neue", sans-serif;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 2;
  letter-spacing:  .01em;
  margin: 1.6em 0 0;
  color: var(--color-medium-text);
  @media screen and (min-width: 768px) {
    font-size: 1.6rem;
  }
}

p.pSmall {
  font-size: 1.4rem;
}

.label,
p.label {
  font-family: "maison neue", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  margin: 0 0 1em;
  color: var(--color-light-text);
  margin-bottom: 8px;

  @media screen and (min-width: 768px) {
    /* font-size: 1.6rem; */
  }
}

.sectionHeader {
  font-family: "gt sectra", times, serif;
  /* font-size: 1.4rem; */
  /* font-weight: 400; */
  /* line-height: 1.6; */
  margin: 0 0 1em;
  color: var(--color-cool-black);
  margin-bottom: 8px;
}

/* only matches headers that are after p text for consisten spacing */
p ~ .sectionHeader {
  margin-top: 3.2em;
}

.textBreak {
  margin-top: 40px;
}

.arrowLink {
  position: relative;
  display: inline-block;
  letter-spacing: 0;
  font-size: 1.4rem;
  color: var(--color-cool-black);
  text-decoration: none;
  width: fit-content;
  border: 1px solid #000;
  padding: 1em 4em .9em 1em;
  margin-right: -100px;
  transition: padding .3s cubic-bezier(.34,.15,.31,.92);
  will-change: padding;
}

.arrowLink:hover {
  padding-right: 5em;
}

.arrowLink:before,
.arrowLink:after {
  content: " ";
  width: 15px;
  height: 9px;
  position: absolute;
  right: 3em;
  opacity: 0;
  transition: .3s cubic-bezier(.34,.15,.31,.92);
  transition-delay: 0s;
  /* background-image: url(../assets/images/link-arrow-dark.svg); */
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 15px;
  padding-left: 30px;
  top: calc(50% - 5px);
}

.arrowLink:after {
  right: 1.5em;
  opacity: 1;
}

.arrowLink:hover:before {
    transform: translate(2em, 0);
    opacity: 1;
    right: 4em
}
.arrowLink:hover:after {
    transform: translate(2em, 0);
    opacity: 0;
}