:root {
  --dark-text-color: #000;
  --medium-text-color: #424242;
  --light-text-color: #8E8E8E;
  --mob-edge-width: 7.5%;
}

@custom-media --viewport-mob-only (width <= 440px);
@custom-media --viewport-large (width >= 1200px);