@import './variables.css';

@custom-media --viewport-xsmall-only (width < 600px);
@custom-media --viewport-small (width >= 600px);
@custom-media --viewport-medium (width >= 900px);
@custom-media --viewport-large (width >= 1200px);
@custom-media --viewport-xlarge (width >= 1800px);

@custom-media --viewport-mob-only (width < 600px);
/* @custom-media --viewport-large (width >= 1200px); */

:root {

  /* Colors
  –––––––––––––––––––––––––––––––
  -l1, -l2, -l3 are lighter shades
  -d1, -d2, -d3 darker shaded
  ––––––––––––––––––––––––––––––– */

  --color-cool-black: #212126;
  --color-cool-gray:  #5C5C66;
  --color-cool-gray-l1: #919199;
  --color-cool-gray-l2: #C8C8CC;

  --color-white-text: #FFF;
  --color-dark-bg: #212126;
  --color-light-bg: #F7F5F5;

  --color-dark-text: #2A2A33;
  --color-medium-text: #5C5C66;
  --color-light-text: #919199;



  /* Margins, Padding, Spacing
  ––––––––––––––––––––––––––––––– */

  --mob-edge-width: 7.5%;

  /* margin unit */
  --mu: 5vw;

  /* space unit */
  --su: 25px;

  /* Keep Padding Consistent */
  --vertical-spacing: {
    padding: 40px 0;

    @media (--viewport-small) {
      padding: 60px 0;
    }

    @media (--viewport-medium) {
      padding: 80px 0;
    }

    @media (--viewport-large) {
      padding: 100px 0;
    }
  }


  --vertical-margin: {
    margin: 40px 0;

    @media (--viewport-small) {
      margin: 60px 0;
    }

    @media (--viewport-medium) {
      margin: 80px 0;
    }

    @media (--viewport-large) {
      margin: 100px 0;
    }
  }

}

@media (--viewport-small) {
  :root {
    --su: 50px;
  }
}
