@font-face {
  font-family: "maison neue";
  src: url("./assets/fonts/maisonneuebook.eot");
  src: url("./assets/fonts/maisonneuebook.eot?#iefix") format("embedded-opentype"),
       url("./assets/fonts/maisonneuebook.woff2") format("woff2"),
       url("./assets/fonts/maisonneuebook.woff") format("woff"),
       url("./assets/fonts/maisonneuebook.ttf") format("truetype"),
       url("./assets/fonts/maisonneuebook.svg#maison_neuebook") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "maison neue";
  src: url("./assets/fonts/maisonneuebold.eot");
  src: url("./assets/fonts/maisonneuebold.eot?#iefix") format("embedded-opentype"),
       url("./assets/fonts/maisonneuebold.woff2") format("woff2"),
       url("./assets/fonts/maisonneuebold.woff") format("woff"),
       url("./assets/fonts/maisonneuebold.ttf") format("truetype"),
       url("./assets/fonts/maisonneuebold.svg#maison_neuebold") format("svg");
  font-weight: 600;
  font-style: normal;
}

* { box-sizing: border-box; }
body { font-family: 'maison neue' }