@import '../../sharedStyles/variables.css';

.follower {
  position: absolute;
  background-color: rgba(0, 0 ,0, .05);
  border: 1px solid  rgba(0, 0 ,0, 0);
  width: 40px;
  height: 40px;
  border-radius: 100%;
  z-index: 1;
  transition: 0.4s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
              0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) background-color,
              0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) border;
  user-select: none;
  pointer-events: none;
  z-index: 10000;
  transform: translate(5px, 5px);
}

.follower.active {
  transform: scale(1.2);
  background-color: rgba(0, 0 , 0, 0);
  border: 1px solid  rgba(0, 0 ,0, .5);
}