@import '../../sharedStyles/variables.css';

.navWrapper,
.aside,
.projectAside {
  position: fixed;
  z-index: 999;
  right: var(--mob-edge-width);

  @media (--viewport-large) {
    right: calc(16.6% - 60px);
  }
}

.navWrapper {
  top: 30px;
}

.navLink {
  font-weight: 600;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .05em;
  color: #000;
  text-decoration: none;
  margin-right: 1.5em;
  position: relative;
}

.navLink:last-child {
  margin-right: 0;
}

.navLink.isActive:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -.2em;
  width: 100%;
  height: 1px;
  background: #000;
  opacity: 1;
  transform: scaleX(1);
}

.aside,
.projectAside {
  transform: rotate(90deg);
  transform-origin: right center;
  bottom: 30px;
  font-size: 1.2rem;
  height: 0;
  opacity: 0;
  transition: .8s ease opacity;
  right: calc(3.75% + -4px);

  @media (--viewport-mob-only) {
    font-size: 10px;
  }

  @media (--viewport-large) {
    right: calc(16.6% - 60px);
  }
}

.aside {
  transition-delay: 0s;
}

.aside.isVisible {
  transition-delay: .8s;
  opacity: 1;
}

.projectAside {
  transition-delay: 0s;
}

.projectAside.isVisible {
  opacity: 1;
  transition-delay: .8s;
}

